beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
distro==1.9.0
docopt==0.6.2
html2text==2020.1.16
idna==3.6
importlib-metadata==7.0.1
lxml==5.1.0
pipreqs==0.4.13
requests==2.31.0
soupsieve==2.5
typing_extensions==4.9.0
urllib3==2.1.0
yarg==0.1.9
zipp==3.17.0
zulip==0.9.0
zulip-bots==0.9.0
